.clock {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    border-radius: 100%;
    background: url('./clock.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &:before {
        content: "";
        position: absolute;
        width: 15px;
        height: 15px;
        background: #747474;
        border-radius: 50%;
        z-index: 999;
    
    }

    .hour, .min, .sec {
        position: absolute;
    }

    .hour, .hr {
        width: 160px;
        height: 160px;
    }

    .min, .mn {
        width: 190px;
        height: 190px;
    }

    .sec, .sc {
        width: 230px;
        height: 230px;
    }

    .hr, .mn, .sc {
        display: flex;
        justify-content: center;
        /*align-items: center;*/
        position: absolute;
        border-radius: 50%;
        
    }

    .hr:before {
        content: "";
        position: absolute;
        width: 8px;
        height: 80px;
        background: #ffb510;
        z-index: 9;
        border-radius: 6px 6px 0 0;
    }

    .mn:before {
        content: "";
        position: absolute;
        width: 4px;
        height: 90px;
        background: #8b8b8b;
        z-index: 10;
        border-radius: 6px 6px 0 0;
    }

    .sc:before {
        content: "";
        position: absolute;
        width: 2px;
        height:150px;
        background: #e5e5e5;
        z-index: 11;
        border-radius: 6px 6px 0 0;
    }

    .place {
        position: absolute;
        width: 328px;
        height: 328px;
        display: flex;
        justify-content: center;
        align-items: center;

        .start {
            
            width: 2px;
            height: 194px;
            background: black;
            position: absolute;
            z-index: 12;
        }
    
        .placeName {
            color: black;
            --rotation: 0;
            position: absolute;
            width: 100%;
            height: 100%;
            text-align: center;
            transform: rotate(var(--rotation));
            font-size: 14pt;
        }
    }
}